* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body{
    background-color: #e2da8d;
}

.header{
    background-color: midnightblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

/* EMPIEZA BOTONES */
.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 10px 20px
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.header .nav-links a:hover{
    color: dodgerblue;
}

/* RESTO DEL BODY */
.whatsapp {
    position: fixed;
    top: 833px; /* Ajusta según sea necesario */
    right: 40px; /* Ajusta según sea necesario */
}

.whatsapp img {
    width: 50px;
}

.espacio{
    height: 50px;
}