*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*-------------MENU-------------*/
ul{
    list-style: none;
    padding: 17px; /* ACHICA O AGRANDA LA BARRA DE NAVEGACIÓN */
    background-color: midnightblue; /* COLOR DE FONDO LA BARRA DE NAVEGACIÓN */
    text-align: right;
}

/*-------------PRIMER <li>-------------*/
li{
    display: inline-block; /* PONE EN LINEA A TODOS LOS ITEMS <li> */
    width: auto; /* ANCHO DE TODOS LOS ITEMS <li> */
    padding: 20px;
    text-align: center;
    position: relative;

}

/*-------------SUB-MENU (1er caja interna-------------*/
ul ul{
    position: absolute; /* PERMITE QUE EL SUBMENU SE ABRA SIN QUE SE AGRANDE EL FONDO DE NAVEGACIÓN, SE INTERPONE Y SE DESPLIEGA */
    display: none; /* SI LO SACO, APARECE EL SUBMENU...LE INDICO QUE NO SE MUESTRE LA CAJA QUE CONTIENE LOS SUBMENUS */
}

/*-------------SEGUNDO <li> (2da caja interna)-------------*/
ul ul li{ 
    display: block; /* PONE EN BLOQUE A LOS ITEMS DEL SEGUNDO <li> */
    padding: 10px; 
}

/*-------------BOTONES <a>-------------*/
a{ 
    text-decoration: none; /* REMOCION DE SUBRAYADO A LOS BOTONES <a> */
    color: white; /* COLOR DE LOS BOTONES <a> */
    font-weight: bold; /* COLOR DE HOVER DE LOS BOTONES <a> */
    s
    
}

/*-------------HOVER DE BOTONES <a>-------------*/
a:hover{
    color: red; /* COLOR DE HOVER DE LOS <a> */
}

/*-------------HOVER DE SUB-BOTONES-------------*/
ul li:hover ul{
    display: block; /* PONE LA CAJA DEL SUBMENU EN BLOQUE (antés estaba en none y no aparecia nada) */
    width:300%; /* ANCHO DE CAJA DEL SUBMENU */
    padding: 30%;
    background-color: midnightblue; /* COLOR DE FONDO DEL SUBMENU */
}

.title{
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quienessomos{
    color: white;
    background-color: #2f495e;
    font-family: 'Raleway', sans-serif;
    width: 600px;
    height: 70px;
    padding: 10px;
    margin: auto;
    overflow: auto;
}

.contactanos{
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.panel{
    border: solid 1px;
}

.logo_patulandia {
    width: 120px;
    justify-content: end;
}

.whatsapp{
    width: 50px;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

